<div class="container-fluid-f mt-auto" th:fragment="footer">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <footer>

        <div class="footer-container">

            <div class="footer-seccion">
                <h3>Datos de Contacto</h3>
                <p><strong>Teléfono:</strong> +54 2262 485095</p>
                <p><strong>Email:</strong> <a>info@hospitallito2025</a></p>
                <p><strong>Dirección:</strong> Av. 59 N° 1234, Necochea</p>
            </div>

            <div class="footer-seccion">
                <h3>Estudiantes</h3>
                <ul>
                    <li>Ialungo Santiago</li>
                    <li>Masson Thiago</li>
                    <li>Nielsen Kevin</li>
                </ul>
            </div>

        </div>

        <div class="footer-bottom">
            <hr>
            <p>© 2025 Hospital Lito</p>
        </div>

    </footer>
</div>